.Header {
  text-align: center;
  min-height: 100px;
  background: rgba(4,4,4, 0.75);
}

h2{
  color:white;
  margin: 0;
  padding:10px 10px;
}

.Body {
  height:calc(100% - 150px);
}

.Footer {
  font-size: large;
  min-height: 50px;
  background: rgba(0,0,0, 0.5);
  position:relative;
}

