$moduleWidth: 100%;

.Dashboard{
		height: 100%;
}

.module{
	display: inline-block;
	vertical-align: top;
	padding: 10px 10px;
	width:$moduleWidth;
	.modeleHeader{
		font-weight: 600;
		margin:0px 0px;
	}
	.moduleSubHeader{
		font-weight: 500;
		margin:0px 0px;
	}

	table{
		width:100%;
		border:none;
		margin: 5px 5px;
		margin-bottom: 20px;
		.subheader{
			font-size: .75em;
			padding-left:10%;
		}
		thead{
			border-bottom: 1px solid #9f9f9f;
		}
		th {
			font-size:1.1em;
			font-weight: none;
			padding: 5px 5px;
			border:none;
		}
		td {
			text-align: left;
			padding: 5px 0px 5px 10px;
			border:none;
		}
	}
}

.GeneralList {
	display: block;
	width: 100%;
	div {
		// border: 1px solid black;
		float: left;
		width: 50%;
	}
	.Notes {
		width: 100%;
	}
}

.PatientGeneral{
	form {
		margin:10px 0px;

		textarea{
			margin-bottom:20px;
			width:100%;
			resize: none;
			border:none;
		}
		input{
			font-weight: normal;
			border: 1px solid #ccc;
			overflow:hidden;
			text-overflow:ellipsis;
			outline:0px;
			box-shadow: none;
		}
		input[readonly], textarea[readonly]{
			&:focus{
				outline: 0px;
				box-shadow: none;
				border:none;
			}
		}
		.form-group{
			margin-bottom:5px;
		}
		.col {
			/*padding:0px 0px;*/
		}
	}
	.modeleHeader{
		display: inline-block;
		vertical-align: top;
	}
	.moduleSubHeader{
		margin-bottom: 10px;
		margin-left:-15px;
	}

}


.PatientPrescription {
	.past {
		opacity: 0.5;
		&:hover{
			opacity: 1;
		}
	}
}

.PatientAppointments {
	td {
		padding-left: 0px !important;
		text-align: center !important;
		white-space: nowrap;
	}
	.past {
		opacity: 0.5;
		&:hover{
			opacity: 1;
		}
	}
}
