$moduleWidth: 100%;

.Dashboard{
		height: 100%;
}

.module{
	display: inline-block;
	vertical-align: top;
	padding: 10px 10px;
	width:$moduleWidth;
	.modeleHeader{
		font-weight: 600;
		margin:0px 0px;
	}
	.moduleSubHeader{
		font-weight: 500;
		margin:0px 0px;
	}

	table{
		width:100%;
		border:none;
		margin: 5px 5px;
		margin-bottom: 20px;
		.subheader{
			font-size: .75em;
			padding-left:10%;
		}
		thead{
			border-bottom: 1px solid #9f9f9f;
		}
		th {
			font-size:1.1em;
			font-weight: none;
			padding: 5px 5px;
			border:none;
		}
		td {
			text-align: left;
			padding: 5px 0px 5px 10px;
			border:none;
		}
	}
}

.GeneralList {
	display: block;
	width: 100%;
	div {
		// border: 1px solid black;
		float: left;
		width: 50%;
	}
	.Notes {
		width: 100%;
	}
}

.PatientGeneral{
	form {
		margin:10px 0px;
		label{
			margin:0px 0px;
		}
		textarea{
			margin-bottom:20px;
			width:100%;
			resize: none;
		}
		input{
			font-weight: normal;
			border:0;
			border-bottom: .5px solid #ccc;
			overflow:hidden;
			text-overflow:ellipsis;
		}
		.form-group{
			margin-bottom:5px;
		}
		.col {
			/*padding:0px 0px;*/
		}
	}
	.modeleHeader{
		display: inline-block;
		vertical-align: top;
	}
	.moduleSubHeader{
		margin-bottom: 10px;
		margin-left:-15px;
	}
	.btnHolder{
		clear:both;
		position: relative;
		height: 0px;
		overflow:hidden;
		display: inline-block !important;
		line-height: 100%;
		vertical-align: top;
		margin-left: 15px;
		transition: height .25s;
		-webkit-transition: height .25s;
		&.show{
			height:26px;
		}
		.btn {
			line-height: 100%;
			height: 100%;
			margin: 0px 5px;
			/*vertical-align: top;*/
		}
	}
}


.PatientPrescription {

}

.PatientAppointments {
	td {
		padding-left: 0px !important;
		text-align: center !important;
		white-space: nowrap;
	}
}
