.DetailedAppointments{
	height:100%;
	width:100%;
	
	.moduleBody{
		.nextActions {
			background: aliceblue;
			padding-bottom:20px;
		}
		.modeleHeader {
			margin:0 0;
			font-weight: 600;
		}
	}

	table {
		width: 100%;
		div {
			padding:0px 0px 0px 5px;
		}
		.subheader{
			padding-left:5%;
		}
	}

	textarea{
		width:100%;
		min-height: 75px;
		resize: none;
	}

	.AddPrescriptions {
		h3{
			display: inline-block;
		}
		.addNewBtn {
			margin-left:20px;
		}
		.newPrescript{
			margin-bottom:10px;
			border-bottom: 1px solid rgba(4, 4, 4, 0.75);
		}
	}
}
