$moduleWidth: 100%;

.Home_Doc{
	display: inline-block;
	vertical-align: top;
	width:$moduleWidth;

  form{
    margin-bottom: 2%;

  }

  input[type=text] {
      width: 250px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      margin: 0 auto;
      display: block;
  }

  input[type=text]:focus {
      width: 45%;
  }

	table{
		width:100%;
		border:none;
		margin: 5px 5px;
		margin-bottom: 20px;
		.subheader{
			font-size: .75em;
			padding-left:10%;
		}
		thead{
			border-bottom: 1px solid #9f9f9f;

		}
		th {
			font-size:1.1em;
			font-weight: none;
			padding: 5px 5px;
			border:none;
      text-align: center;
		}
		td {
			text-align: center;
			padding: 5px 0px 5px 10px;
			border:none;
		}
	}
}
