body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100vh;
  width:100vw;
}

#root{
	height:100%;
	width:100%;
}

#root > div:first-child{
	height:inherit;
	width:inherit;
}

.Header {
  text-align: center;
  min-height: 100px;
  background: rgba(4,4,4, 0.75);
}

h2{
  color:white;
  margin: 0;
  padding:10px 10px;
}

.Body {
  height:calc(100% - 150px);
}

.Footer {
  font-size: large;
  min-height: 50px;
  background: rgba(0,0,0, 0.5);
  position:relative;
}
