$baseColor: rgba(4,4,4, 0.75);
$tenPadding: 10px;

html{
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:auto;
  width:auto;
}

#root{
	height:100vh;
	width:100vw;

  > div:first-child {
    height:inherit;
    width:inherit;
  }
}


.Header {
  //text-align: center;
  height: 70px;
  line-height: 70px;
  background: $baseColor;
  div{
    display: inline-block;
  }
  h2{
    color:white;
    margin: 0;
    padding:10px 10px;
    display: inline-block;
    white-space: nowrap;
  }
  a{
    text-decoration: none;
    color:white;
    margin:0px 10px;
  }
  .colRight{
    width:10%;
    float:right;
    text-align: center;
    a {
      line-height: 100%;
      text-decoration: none;
      &:hover, &:focus{
        color:white;
      }
    }
  }
  .colLeft{
    width:90%;
  }
}

.Body {
  //height:calc(100% - 100px);
  height: 100%;
}

// .Footer {
//   font-size: large;
//   min-height: 50px;
//   background: rgba(0,0,0, 0.5);
//   position:relative;
// }

#Login {
  padding:10px 10px;
  > div {
    vertical-align: top;
    width:calc(50% - #{2*$tenPadding});
    padding:0px 10px;
    display:inline-block;
    label {
      display: block;
      input {
        margin:5px;
      }
    }
  }
  .signIn {

  }
  .createUser {
    width:calc(50% - #{2*$tenPadding + 1} );
    border-left: 1px solid $baseColor;
  }
}

.btnHolder{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0px;
    overflow:hidden;
    display: inline-block !important;
    line-height: 100%;
    vertical-align: top;
    margin-left: 15px;
    transition: height .25s;
    -webkit-transition: height .25s;
    &.reveal{
      height:26px;
    }
    .btn {
      line-height: 100%;
      height: 100%;
      margin: 0px 5px;
      /*vertical-align: top;*/
    }
  }
