#navMenu {
	float: left;
	display: inline-block;
	width: 200px;
	text-align: center;
}

#menuList {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

// #menuList>li:not(:first-child) {
// 	margin-top: 10px;
// }

#menuList>li {
	background-color: gray;
	// margin-bottom: 10px;
	height: 35px;
	line-height: 35px;
	// padding-top: 2px;
	// padding-bottom: 2px;
  margin-top: 0;
	margin-bottom: 0;
	color: white;

}

#menuList>li:hover {
	color: gold;
	background-color: rgb(18, 18, 84);
}

.active{
  color: green;
}
